# Dependencias (por si en el futuro usas npm)
node_modules/
jspm_packages/
web_modules/

# Archivos de sistema y temporales
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini
*.log
*.tmp
*.swp

# Entornos de Desarrollo (IDEs)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración local y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Residuos de compilación o empaquetado
dist/
build/
out/